In [2]:
import pandas as pd
import requests
import json
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import time

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
""" import requests

# Your API credentials and URL
api_url = "https://api.zigcore.com.br/integration"
token = "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh"

# Define headers for the request
headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}

# Making a GET request to the API to verify login
response = requests.get(api_url, headers=headers)

# Checking the response status code and the response data
if response.status_code == 200:
    print("Login successful!")
    print(response.json())  # Print response data which may include more details
else:
    print(f"Login failed with status code {response.status_code}")
    print(response.text)  # Print the error response """

' import requests\n\n# Your API credentials and URL\napi_url = "https://api.zigcore.com.br/integration"\ntoken = "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh"\n\n# Define headers for the request\nheaders = {\n    "Authorization": f"{token}",\n    "Content-Type": "application/json"\n}\n\n# Making a GET request to the API to verify login\nresponse = requests.get(api_url, headers=headers)\n\n# Checking the response status code and the response data\nif response.status_code == 200:\n    print("Login successful!")\n    print(response.json())  # Print response data which may include more details\nelse:\n    print(f"Login failed with status code {response.status_code}")\n    print(response.text)  # Print the error response '

In [5]:
""" # Tardezinha
import requests

api_url = "https://api.zigcore.com.br/integration"
rede = "6385fff0-2ef9-421e-a0d8-497223f639e8"
token = "wAfg8jrWPnpEjG6qTPo3EjAzyuTjhrMB"


headers = {
    "Authorization": f"{token}"
}


response = requests.get(f"{api_url}/erp/lojas?rede={rede}", headers=headers)

print(f"{api_url}?rede={rede}")

# Check response
if response.status_code == 200:
    stores = response.json()  
    print("Stores:", stores)
else:
    print("Failed to fetch stores:", response.status_code, response.text) """

' # Tardezinha\nimport requests\n\napi_url = "https://api.zigcore.com.br/integration"\nrede = "6385fff0-2ef9-421e-a0d8-497223f639e8"\ntoken = "wAfg8jrWPnpEjG6qTPo3EjAzyuTjhrMB"\n\n\nheaders = {\n    "Authorization": f"{token}"\n}\n\n\nresponse = requests.get(f"{api_url}/erp/lojas?rede={rede}", headers=headers)\n\nprint(f"{api_url}?rede={rede}")\n\n# Check response\nif response.status_code == 200:\n    stores = response.json()  \n    print("Stores:", stores)\nelse:\n    print("Failed to fetch stores:", response.status_code, response.text) '

In [6]:
""" 
# Tardezinha Ribeirão Preto 2 de dezembro de 2023






api_url = "https://api.zigcore.com.br/integration/erp/saida-produtos"
token = "wAfg8jrWPnpEjG6qTPo3EjAzyuTjhrMB" #Token novo. Funcionou para puxar as lojas

params = {
    'dtinicio': '2023-12-01',
    'dtfim': '2023-12-10',
    'loja': 'a08c4832-1e70-435b-ad01-6a4d41dc5785', #ID da Tardezinha RBP 2023
    'refund': 'false'
}


headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}


response = requests.get(api_url, headers=headers, params=params)

#df=pd.DataFrame(response.json())
response.json() """

' \n# Tardezinha Ribeirão Preto 2 de dezembro de 2023\n\n\n\n\n\n\napi_url = "https://api.zigcore.com.br/integration/erp/saida-produtos"\ntoken = "wAfg8jrWPnpEjG6qTPo3EjAzyuTjhrMB" #Token novo. Funcionou para puxar as lojas\n\nparams = {\n    \'dtinicio\': \'2023-12-01\',\n    \'dtfim\': \'2023-12-10\',\n    \'loja\': \'a08c4832-1e70-435b-ad01-6a4d41dc5785\', #ID da Tardezinha RBP 2023\n    \'refund\': \'false\'\n}\n\n\nheaders = {\n    "Authorization": f"{token}",\n    "Content-Type": "application/json"\n}\n\n\nresponse = requests.get(api_url, headers=headers, params=params)\n\n#df=pd.DataFrame(response.json())\nresponse.json() '

In [7]:
# tardezinha campinas - 15 de julho 2023


""" 
start_date = '2024-07-15'
end_date = '2024-07-15'


api_url = "https://api.zigcore.com.br/integration/erp/saida-produtos"
token = "wAfg8jrWPnpEjG6qTPo3EjAzyuTjhrMB"

params = {
    'dtinicio': start_date,
    'dtfim': end_date,
    'loja': 'c87690d5-c387-410c-b39c-feb680e63c94', #ID que já achamos
    'refunded': 'false'
}


headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}


response = requests.get(api_url, headers=headers, params=params) """
""" if response.status_code == 200:
    print(f"Data for {params['dtinicio']} to {params['dtfim']}:", response.json())
else:
    print(f"Failed for {params['dtinicio']} to {params['dtfim']}:", response.status_code, response.text) """
""" df=pd.DataFrame(response.json())
df """

' df=pd.DataFrame(response.json())\ndf '

- - -

# Outro Token

In [8]:
import requests

api_url = "https://api.zigcore.com.br/integration"
rede = "152f5dc6-0f40-4668-880b-b8a8d51c4120"
token = "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh"


headers = {
    "Authorization": f"{token}"
}


response = requests.get(f"{api_url}/erp/lojas?rede={rede}", headers=headers)

print(f"{api_url}?rede={rede}")

# Check response
if response.status_code == 200:
    stores = response.json()  
    print("Stores:", stores)
else:
    print("Failed to fetch stores:", response.status_code, response.text)

https://api.zigcore.com.br/integration?rede=152f5dc6-0f40-4668-880b-b8a8d51c4120
Stores: [{'id': 'aaaf572e-220e-4d28-b092-33074e12b1a5', 'name': 'CB PRODUCOES 2024'}, {'id': 'aa34a77f-457e-468a-96cc-905fa1ab0399', 'name': '21031 -- SOWETO JUL24'}, {'id': 'e0c64202-39e7-472a-b593-8fa433213695', 'name': 'SOWETO JUL24'}, {'id': '3123a77b-2730-4b44-ab69-24bba879c56b', 'name': 'TRAPIST 2024'}]

# Trapist

In [9]:
todos_produtos=pd.DataFrame()
todos_faturamentos=pd.DataFrame()
todas_recargas=pd.DataFrame()

In [10]:
#Tardezinha 15 de Julho de 2023
#Trapist 9 de março de 2024
# SOweto 27 de Julho de 2024



start_date = '2024-03-08'
end_date = '2024-03-10'
id_loja='3123a77b-2730-4b44-ab69-24bba879c56b'


token = "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh"







#PRODUTOS


api_url = "https://api.zigcore.com.br/integration/erp/saida-produtos"


params = {
    'dtinicio': start_date,
    'dtfim': end_date,
    'loja': id_loja, #ID que já achamos
    'refunded': 'false'
}


headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}


response_produtos = requests.get(api_url, headers=headers, params=params)

produtos=pd.DataFrame(response_produtos.json())
produtos= produtos[["transactionDate","unitValue","count","productName","productCategory","eventName","employeeName"]]
produtos=produtos.rename(columns={"transactionDate":"Data e Hora","unitValue":"Soma de price","count":"Quantidade","productName":"product_name","eventName":"Evento","employeeName":"PDV"})

#Criando coluna para avaliar as vendas durante o evento
produtos["Data e Hora"]=pd.to_datetime(produtos["Data e Hora"])
produtos["Hora"]=produtos["Data e Hora"].dt.strftime('%Y-%m-%d %H')

#Formatando a coluna de Soma de price
produtos["Soma de price"]=produtos["Soma de price"]/100

todos_produtos=pd.concat([todos_produtos,produtos], ignore_index=True)





#FATURAMENTO

api_url = "https://api.zigcore.com.br/integration/erp/faturamento"

params = {
    'dtinicio': start_date,
    'dtfim': end_date,
    'loja': id_loja
}


headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}


response_faturamento = requests.get(api_url, headers=headers, params=params)

faturamento=pd.DataFrame(response_faturamento.json())
faturamento=faturamento[["paymentName","value"]]


#Corrigindo os valores
faturamento["value"]=faturamento["value"]/100


todos_faturamentos=pd.concat([todos_faturamentos,faturamento], ignore_index=True)




#RECARGAS

api_url = "https://api.zigcore.com.br/integration/erp/recharges"
token = "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh"

params = {
    'dtinicio': start_date,
    'dtfim': end_date,
    'loja': id_loja
}


headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}


response_recarga = requests.get(api_url, headers=headers, params=params)

recarga=pd.DataFrame(response_recarga.json())

recarga=recarga[["date","author","totalValue","userDocument","userDocumentType","userName"]]

#Corrigindo os valores
recarga["totalValue"]= recarga["totalValue"]/100

#Valores das datas
recarga["date"]=pd.to_datetime(recarga["date"])
recarga["Dia + Hora"]=recarga["date"].dt.strftime('%Y-%m-%d %H')

todas_recargas=pd.concat([todas_recargas,recarga], ignore_index=True)

In [11]:
todos_produtos

,Data e Hora,Soma de price,Quantidade,product_name,productCategory,Evento,PDV,Hora
0,2024-03-09 17:44:43.169,5.0,1,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,TRAPIST - 09/03/2024,PRODUÇÃO CLIENTE,2024-03-09 17
1,2024-03-09 17:49:40.334,5.0,1,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,TRAPIST - 09/03/2024,PRODUÇÃO CLIENTE,2024-03-09 17
2,2024-03-09 19:06:33.846,5.0,1,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,TRAPIST - 09/03/2024,CAIXA 2,2024-03-09 19
3,2024-03-09 19:06:53.727,5.0,1,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,TRAPIST - 09/03/2024,CAIXA 14,2024-03-09 19
4,2024-03-09 18:31:18.726,5.0,1,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,TRAPIST - 09/03/2024,CAIXA 16,2024-03-09 18
...,...,...,...,...,...,...,...,...
16924,2024-03-10 06:34:18.775,36.0,1,FININHO BACON,NETÃO,TRAPIST - 09/03/2024,PISTA BURGUER+FRITAS 1,2024-03-10 06
16925,2024-03-10 06:34:18.775,46.0,1,COMBO SMASH + FRITAS,NETÃO,TRAPIST - 09/03/2024,PISTA BURGUER+FRITAS 1,2024-03-10 06
16926,2024-03-10 06:34:01.570,8.0,2,Água,NÃO ALCOOLICOS,TRAPIST - 09/03/2024,BACKSTAGE BAR 6 29,2024-03-10 06
16927,2024-03-10 05:59:23.248,8.0,1,Água,NÃO ALCOOLICOS,TRAPIST - 09/03/2024,BACKSTAGE BAR 6 33,2024-03-10 05
16928,2024-03-10 04:39:00.836,46.0,1,COMBO SMASH + FRITAS,NETÃO,TRAPIST - 09/03/2024,PISTA BURGUER+FRITAS 1,2024-03-10 04

In [12]:
todos_faturamentos

                paymentName      value
0                   CRÉDITO       0.00
1                  DINHEIRO       0.00
2                       APP       0.00
3           DELIVERY ONLINE       0.00
4                     IFOOD       0.00
5                       PIX       0.00
6                     RAPPI       0.00
7                      UBER       0.00
8                ANTECIPADO       0.00
9                   VOUCHER       0.00
10                   DÉBITO       0.00
11                    BÔNUS       0.00
12               ANTECIPADO       0.00
13                   OUTROS       0.00
14                      AME       0.00
15  NOTAS MANUAIS + SERVIÇO       0.00
16      RECARGAS DEVOLVIDAS     -44.00
17        VOUCHER INTEGRADO       0.00
18                    MBWAY       0.00
19                  CRÉDITO  172553.60
20                 DINHEIRO   22398.00
21                      APP      33.00
22          DELIVERY ONLINE       0.00
23                    IFOOD       0.00
24                      PIX   44962.11
25                    RAPPI       0.00
26                     UBER       0.00
27               ANTECIPADO       0.00
28                  VOUCHER       0.00
29                   DÉBITO  201420.82
30                    BÔNUS   36909.00
31               ANTECIPADO       0.00
32                   OUTROS       0.00
33                      AME       0.00
34  NOTAS MANUAIS + SERVIÇO       0.00
35      RECARGAS DEVOLVIDAS     -35.00
36        VOUCHER INTEGRADO       0.00
37                    MBWAY       0.00
38                  CRÉDITO       0.00
39                 DINHEIRO       0.00
40                      APP       0.00
41          DELIVERY ONLINE       0.00
42                    IFOOD       0.00
43                      PIX       0.00
44                    RAPPI       0.00
45                     UBER       0.00
46               ANTECIPADO       0.00
47                  VOUCHER       0.00
48                   DÉBITO       0.00
49                    BÔNUS       0.00
50               ANTECIPADO       0.00
51                   OUTROS       0.00
52                      AME       0.00
53  NOTAS MANUAIS + SERVIÇO       0.00
54      RECARGAS DEVOLVIDAS     -95.00
55        VOUCHER INTEGRADO       0.00
56                    MBWAY       0.00

In [13]:
todas_recargas

,date,author,totalValue,userDocument,userDocumentType,userName,Dia + Hora
0,2024-03-09 18:14:57.734,CAIXA 38,13.0,50374464812,cpf,matheus,2024-03-09 18
1,2024-03-09 18:15:30.730,CAIXA 37,50.0,43772406840,cpf,danilo,2024-03-09 18
2,2024-03-09 18:15:51.451,CAIXA 8,55.0,48046697877,cpf,Caio,2024-03-09 18
3,2024-03-09 18:47:26.022,CAIXA 19,200.0,55770139846,cpf,olyver,2024-03-09 18
4,2024-03-09 18:59:09.811,CAIXA 51,21.0,51567473881,cpf,Nathan,2024-03-09 18
...,...,...,...,...,...,...,...
8605,2024-03-10 04:09:41.167,CAIXA 25,10.0,36308616877,cpf,vitor,2024-03-10 04
8606,2024-03-10 04:31:49.353,CAIXA 6,30.0,40867258861,cpf,Juan,2024-03-10 04
8607,2024-03-10 04:33:47.524,CAIXA 50,5.0,48514999818,cpf,Isabella El Dorr da Silva,2024-03-10 04
8608,2024-03-10 04:52:33.385,CAIXA 38,100.0,39756532807,cpf,Guilherme secco,2024-03-10 04
8609,2024-03-10 05:02:12.523,CAIXA 24,10.0,47891247897,cpf,Murilo Rinaldo,2024-03-10 05

- - -

# Eventos que rodam em "N" (Tardezinhas e Soweto)

In [11]:
#Geração do Token de acesso
#Geração do Token de acesso


#api_url = "http://devapp.netpdv.info:5566/api/relatorios/GeraToken"
api_url= "https://app.netpdv.com:5566/api/relatorios/GeraToken"
#api_url = "http://devapp.netpdv.info:5566/api/relatorios/GeraToken"
api_url= "https://app.netpdv.com:5566/api/relatorios/GeraToken"

#tardezinha Campinas 15740
#tardezinha RB  17990


headers = {
    
    "Content-Type": "text/plain",
    "User-Agent": "PostmanRuntime/7.24.0",
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate, br",
    "Connection": "keep-alive",
    "token_parceiro": "BCED47DAE6",
    "Content-type": "application/json"
    

}

#Tardezinha Campinas
body = {
    'codigo_evento': 15740
}




response_token = requests.post(api_url, headers=headers, json=body)
token_json=response_token.json()
token=token_json['dados']['token_acesso']
token

'6884bbae-b382-4a8a-8432-adfd229cfad9'

{'codigo_retorno': 0,
 'mensagem_erro': '',
 'dados': {'token_acesso': 'string_de_acesso',
  'data_expiracao': 'expira_em'}}

In [26]:
api_url="https://app.netpdv.com:5566/api/relatorios/ListaTransacoes"


headers = {
    "token_acesso":token
}


data_inicio="2023-07-16 00:00:00"
#data_inicio=pd.to_datetime(data_inicio, format='%Y-%m-%d')

data_fim="2023-07-16 00:59:00"
#data_fim=pd.to_datetime(data_fim, format='%Y-%m-%d')


body={
    "data_inicio":data_inicio,
    "data_fim":data_fim,

}



response_transacoes = requests.post(api_url, headers=headers, json=body)
transacoes_json=response_transacoes.json()
transacoes_json

produtos=transacoes_json["dados"]["transacoes"]




produtos=pd.DataFrame(produtos)
produtos

,transacao_id,transacao_original_id,codigo_evento,nome_evento,data_hora_realizacao,data_hora_cadastro,data_hora_confirmacao,sessao,operacao,tipo_ponto,...,forma_pagamento,chip,chip_informado_manual,documento_cliente,email_cliente,nome_ambulante,documento_ambulante,codigo_garcom,nome_garcom,produtos
0,134592747,NaN,15740,TARDEZINHA CAMPINAS 2023,2023-07-15T14:34:20,2023-07-15T23:58:16.613,2023-07-16T00:03:32.807,TDZ CAMPINAS,Consumo Cashless,Operacional,...,Zig Cashless,3532915358,None,30154188824,None,,,0,,"[{'categoria_produto': 'Bebida', 'cod_produto'..."
1,134592759,NaN,15740,TARDEZINHA CAMPINAS 2023,2023-07-15T15:13:17,2023-07-15T23:58:19.463,2023-07-16T00:03:33.287,TDZ CAMPINAS,Consumo Cashless,Operacional,...,Zig Cashless,3522019645,None,18161122830,None,,,0,,"[{'categoria_produto': 'Bebida', 'cod_produto'..."
2,134593981,NaN,15740,TARDEZINHA CAMPINAS 2023,2023-07-15T15:41:58,2023-07-16T00:03:14.29,2023-07-16T00:03:33.847,TDZ CAMPINAS,Consumo Cashless,Operacional,...,Zig Cashless,3511078461,None,10713011874,None,,,0,,"[{'categoria_produto': 'Bebida', 'cod_produto'..."
3,134593986,NaN,15740,TARDEZINHA CAMPINAS 2023,2023-07-15T15:56:44,2023-07-16T00:03:15.557,2023-07-16T00:03:34.447,TDZ CAMPINAS,Consumo Cashless,Operacional,...,Zig Cashless,3518996285,None,41763385809,None,,,0,,"[{'categoria_produto': 'Bebida', 'cod_produto'..."
4,134594003,NaN,15740,TARDEZINHA CAMPINAS 2023,2023-07-15T16:28:22,2023-07-16T00:03:18.357,2023-07-16T00:03:35.067,TDZ CAMPINAS,Consumo Cashless,Operacional,...,Zig Cashless,3513300573,None,41765955823,None,,,0,,"[{'categoria_produto': 'Bebida', 'cod_produto'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1415,134603852,NaN,15740,TARDEZINHA CAMPINAS 2023,2023-07-16T00:46:26,2023-07-16T00:46:28.927,2023-07-16T00:46:30.343,TDZ CAMPINAS,Devolução de Produto,Operacional,...,Dinheiro,3596521149,None,22227398884,None,,,0,,"[{'categoria_produto': 'Bebida', 'cod_produto'..."
1416,134603880,NaN,15740,TARDEZINHA CAMPINAS 2023,2023-07-16T00:46:28,2023-07-16T00:46:37.55,2023-07-16T00:46:38.903,TDZ CAMPINAS,Devolução de Produto,Operacional,...,Dinheiro,3684099966,None,32488478830,None,,,0,,"[{'categoria_produto': 'Bebida', 'cod_produto'..."
1417,134603886,NaN,15740,TARDEZINHA CAMPINAS 2023,2023-07-16T00:46:30,2023-07-16T00:46:37.927,2023-07-16T00:46:39.163,TDZ CAMPINAS,Devolução de Produto,Operacional,...,Dinheiro,3519899789,None,47502485848,None,,,0,,"[{'categoria_produto': 'Bebida', 'cod_produto'..."
1418,134603889,NaN,15740,TARDEZINHA CAMPINAS 2023,2023-07-16T00:46:32,2023-07-16T00:46:38.243,2023-07-16T00:46:39.513,TDZ CAMPINAS,Devolução de Produto,Operacional,...,Dinheiro,1624235006,None,32572051800,None,,,0,,"[{'categoria_produto': 'Bebida', 'cod_produto'..."
1419,134603890,NaN,15740,TARDEZINHA CAMPINAS 2023,2023-07-16T00:46:34,2023-07-16T00:46:38.543,2023-07-16T00:46:39.82,TDZ CAMPINAS,Devolução de Produto,Operacional,...,Dinheiro,3518702397,None,22105966888,None,,,0,,"[{'categoria_produto': 'Bebida', 'cod_produto'..."

TESTE