In [146]:
import pandas as pd
import requests
import json
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [147]:
pd.set_option('display.max_columns', None)

In [148]:
import requests

# Your API credentials and URL
api_url = "https://api.zigcore.com.br/integration"
token = "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh"

# Define headers for the request
headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}

# Making a GET request to the API to verify login
response = requests.get(api_url, headers=headers)

# Checking the response status code and the response data
if response.status_code == 200:
    print("Login successful!")
    print(response.json())  # Print response data which may include more details
else:
    print(f"Login failed with status code {response.status_code}")
    print(response.text)  # Print the error response

Login successful!
{'ok': True}

In [149]:
""" # Tardezinha
import requests

api_url = "https://api.zigcore.com.br/integration"
rede = "6385fff0-2ef9-421e-a0d8-497223f639e8"
token = "wAfg8jrWPnpEjG6qTPo3EjAzyuTjhrMB"


headers = {
    "Authorization": f"{token}"
}


response = requests.get(f"{api_url}/erp/lojas?rede={rede}", headers=headers)

print(f"{api_url}?rede={rede}")

# Check response
if response.status_code == 200:
    stores = response.json()  
    print("Stores:", stores)
else:
    print("Failed to fetch stores:", response.status_code, response.text) """

' # Tardezinha\nimport requests\n\napi_url = "https://api.zigcore.com.br/integration"\nrede = "6385fff0-2ef9-421e-a0d8-497223f639e8"\ntoken = "wAfg8jrWPnpEjG6qTPo3EjAzyuTjhrMB"\n\n\nheaders = {\n    "Authorization": f"{token}"\n}\n\n\nresponse = requests.get(f"{api_url}/erp/lojas?rede={rede}", headers=headers)\n\nprint(f"{api_url}?rede={rede}")\n\n# Check response\nif response.status_code == 200:\n    stores = response.json()  \n    print("Stores:", stores)\nelse:\n    print("Failed to fetch stores:", response.status_code, response.text) '

In [150]:
""" 
# Tardezinha Ribeirão Preto 2 de dezembro de 2023






api_url = "https://api.zigcore.com.br/integration/erp/saida-produtos"
token = "wAfg8jrWPnpEjG6qTPo3EjAzyuTjhrMB" #Token novo. Funcionou para puxar as lojas

params = {
    'dtinicio': '2023-12-01',
    'dtfim': '2023-12-10',
    'loja': 'a08c4832-1e70-435b-ad01-6a4d41dc5785', #ID da Tardezinha RBP 2023
    'refund': 'false'
}


headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}


response = requests.get(api_url, headers=headers, params=params)

#df=pd.DataFrame(response.json())
response.json() """

' \n# Tardezinha Ribeirão Preto 2 de dezembro de 2023\n\n\n\n\n\n\napi_url = "https://api.zigcore.com.br/integration/erp/saida-produtos"\ntoken = "wAfg8jrWPnpEjG6qTPo3EjAzyuTjhrMB" #Token novo. Funcionou para puxar as lojas\n\nparams = {\n    \'dtinicio\': \'2023-12-01\',\n    \'dtfim\': \'2023-12-10\',\n    \'loja\': \'a08c4832-1e70-435b-ad01-6a4d41dc5785\', #ID da Tardezinha RBP 2023\n    \'refund\': \'false\'\n}\n\n\nheaders = {\n    "Authorization": f"{token}",\n    "Content-Type": "application/json"\n}\n\n\nresponse = requests.get(api_url, headers=headers, params=params)\n\n#df=pd.DataFrame(response.json())\nresponse.json() '

In [151]:
# tardezinha campinas - 15 de julho 2023



start_date = '2024-07-15'
end_date = '2024-07-15'


api_url = "https://api.zigcore.com.br/integration/erp/saida-produtos"
token = "wAfg8jrWPnpEjG6qTPo3EjAzyuTjhrMB"

params = {
    'dtinicio': start_date,
    'dtfim': end_date,
    'loja': 'c87690d5-c387-410c-b39c-feb680e63c94', #ID que já achamos
    'refunded': 'false'
}


headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}


response = requests.get(api_url, headers=headers, params=params)
""" if response.status_code == 200:
    print(f"Data for {params['dtinicio']} to {params['dtfim']}:", response.json())
else:
    print(f"Failed for {params['dtinicio']} to {params['dtfim']}:", response.status_code, response.text) """
df=pd.DataFrame(response.json())
df

Empty DataFrame
Columns: []
Index: []

# Outro Token

In [152]:
import requests

api_url = "https://api.zigcore.com.br/integration"
rede = "152f5dc6-0f40-4668-880b-b8a8d51c4120"
token = "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh"


headers = {
    "Authorization": f"{token}"
}


response = requests.get(f"{api_url}/erp/lojas?rede={rede}", headers=headers)

print(f"{api_url}?rede={rede}")

# Check response
if response.status_code == 200:
    stores = response.json()  
    print("Stores:", stores)
else:
    print("Failed to fetch stores:", response.status_code, response.text)

https://api.zigcore.com.br/integration?rede=152f5dc6-0f40-4668-880b-b8a8d51c4120
Stores: [{'id': 'aaaf572e-220e-4d28-b092-33074e12b1a5', 'name': 'CB PRODUCOES 2024'}, {'id': 'aa34a77f-457e-468a-96cc-905fa1ab0399', 'name': '21031 -- SOWETO JUL24'}, {'id': 'e0c64202-39e7-472a-b593-8fa433213695', 'name': 'SOWETO JUL24'}, {'id': '3123a77b-2730-4b44-ab69-24bba879c56b', 'name': 'TRAPIST 2024'}]

In [153]:
""" import requests

api_url = "https://api.zigcore.com.br/integration/erp/saida-produtos?{dtinicio}&{dtfim}&{loja}&{refunded}"
token = "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh"

headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}

import datetime

def date_range(start, end, delta):
    current = start
    while current <= end:
        yield current
        current += delta

start_date = datetime.datetime.strptime('2024-03-01', '%Y-%m-%d')
end_date = datetime.datetime.strptime('2024-08-31', '%Y-%m-%d')
delta = datetime.timedelta(days=5)
# Example request loop using generated date ranges
for start_interval in date_range(start_date, end_date, delta):
    end_interval = start_interval + datetime.timedelta(days=4)
    if end_interval > end_date:
        end_interval = end_date

    params = {
        'dtinicio': start_interval.strftime('%Y-%m-%d'),
        'dtfim': end_interval.strftime('%Y-%m-%d'),
        'loja': '3123a77b-2730-4b44-ab69-24bba879c56b',  # Replace with actual store ID
        'refund' : 'false'
    }

    response = requests.get(api_url, headers=headers, params=params)
    if response.status_code == 200:
        print(f"Data for {params['dtinicio']} to {params['dtfim']}:", response.json())
    else:
        print(f"Failed for {params['dtinicio']} to {params['dtfim']}:", response.status_code, response.text) """

' import requests\n\napi_url = "https://api.zigcore.com.br/integration/erp/saida-produtos?{dtinicio}&{dtfim}&{loja}&{refunded}"\ntoken = "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh"\n\nheaders = {\n    "Authorization": f"{token}",\n    "Content-Type": "application/json"\n}\n\nimport datetime\n\ndef date_range(start, end, delta):\n    current = start\n    while current <= end:\n        yield current\n        current += delta\n\nstart_date = datetime.datetime.strptime(\'2024-03-01\', \'%Y-%m-%d\')\nend_date = datetime.datetime.strptime(\'2024-08-31\', \'%Y-%m-%d\')\ndelta = datetime.timedelta(days=5)\n# Example request loop using generated date ranges\nfor start_interval in date_range(start_date, end_date, delta):\n    end_interval = start_interval + datetime.timedelta(days=4)\n    if end_interval > end_date:\n        end_interval = end_date\n\n    params = {\n        \'dtinicio\': start_interval.strftime(\'%Y-%m-%d\'),\n        \'dtfim\': end_interval.strftime(\'%Y-%m-%d\'),\n        \'loja\': \'3123a77b-2730-4b44-ab69-24bba879c56b\',  # Replace with actual store ID\n        \'refund\' : \'false\'\n    }\n\n    response = requests.get(api_url, headers=headers, params=params)\n    if response.status_code == 200:\n        print(f"Data for {params[\'dtinicio\']} to {params[\'dtfim\']}:", response.json())\n    else:\n        print(f"Failed for {params[\'dtinicio\']} to {params[\'dtfim\']}:", response.status_code, response.text) '

In [154]:
""" import requests

api_url = "https://api.zigcore.com.br/integration/erp/saida-produtos"
headers = {
    "Authorization": "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh",
    "Content-Type": "application/json"
}

# Attempt to make a request without 'dtinicio' and 'dtfim'
response = requests.get(api_url, headers=headers)

if response.status_code == 200:
    print("Request successful, parameters may be optional:", response.json())
else:
    print("Failed to make request without dtinicio and dtfim:", response.status_code, response.text) """

' import requests\n\napi_url = "https://api.zigcore.com.br/integration/erp/saida-produtos"\nheaders = {\n    "Authorization": "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh",\n    "Content-Type": "application/json"\n}\n\n# Attempt to make a request without \'dtinicio\' and \'dtfim\'\nresponse = requests.get(api_url, headers=headers)\n\nif response.status_code == 200:\n    print("Request successful, parameters may be optional:", response.json())\nelse:\n    print("Failed to make request without dtinicio and dtfim:", response.status_code, response.text) '

 - - -

# Trapist

## Produtos

In [155]:
#Tardezinha 15 de Julho de 2023
#Trapist 9 de março de 2024


start_date = '2024-03-09'
end_date = '2024-03-09'


api_url = "https://api.zigcore.com.br/integration/erp/saida-produtos"
token = "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh"

params = {
    'dtinicio': start_date,
    'dtfim': end_date,
    'loja': '3123a77b-2730-4b44-ab69-24bba879c56b', #ID que já achamos
    'refunded': 'false'
}


headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}


response_produtos = requests.get(api_url, headers=headers, params=params)
""" if response.status_code == 200:
    print(f"Data for {params['dtinicio']} to {params['dtfim']}:", response.json())
else:
    print(f"Failed for {params['dtinicio']} to {params['dtfim']}:", response.status_code, response.text) """
produtos=pd.DataFrame(response_produtos.json())
produtos

,transactionId,transactionDate,productId,productSku,unitValue,count,fractionalAmount,fractionUnit,discountValue,productName,productCategory,redeId,lojaId,eventId,eventName,eventDate,invoiceId,employeeName,type,additions,isRefunded,source
0,0a2242660c53,2024-03-09T17:44:43.169,2d94f578-6dde-4815-93ed-d62a5c429de7,J,500,1,None,None,0,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,TRAPIST - 09/03/2024,2024-03-09T12:13:28.048,None,PRODUÇÃO CLIENTE,ZigCard,[],False,cashless
1,0a2242660c47,2024-03-09T17:43:20.032,2d94f578-6dde-4815-93ed-d62a5c429de7,J,500,1,None,None,0,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,TRAPIST - 09/03/2024,2024-03-09T12:13:28.048,None,PRODUÇÃO CLIENTE,ZigCard,[],False,cashless
2,0a2242660c5f,2024-03-09T17:49:40.334,2d94f578-6dde-4815-93ed-d62a5c429de7,J,500,1,None,None,0,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,TRAPIST - 09/03/2024,2024-03-09T12:13:28.048,None,PRODUÇÃO CLIENTE,ZigCard,[],False,cashless
3,e91d94b900e3,2024-03-09T19:06:33.846,2d94f578-6dde-4815-93ed-d62a5c429de7,J,500,1,None,None,0,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,TRAPIST - 09/03/2024,2024-03-09T12:13:28.048,None,CAIXA 2,ZigCard,[],False,cashless
4,233dc8860075,2024-03-09T19:06:53.727,2d94f578-6dde-4815-93ed-d62a5c429de7,J,500,1,None,None,0,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,TRAPIST - 09/03/2024,2024-03-09T12:13:28.048,None,CAIXA 14,ZigCard,[],False,cashless
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16924,1021e6110337,2024-03-10T06:18:37.336,c5d9f306-d01d-4c45-9d52-0c30715ce927,Y,800,1,None,None,0,Água,NÃO ALCOOLICOS,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,TRAPIST - 09/03/2024,2024-03-09T12:13:28.048,None,BACKSTAGE BAR 6 33,Normal,[],False,cashless
16925,aa17dd9f01e7,2024-03-10T06:34:18.775,28a5b792-0159-48e1-85eb-6e7419bed294,2,3600,1,None,None,0,FININHO BACON,NETÃO,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,TRAPIST - 09/03/2024,2024-03-09T12:13:28.048,None,PISTA BURGUER+FRITAS 1,Normal,[],False,cashless
16926,aa17dd9f01e7,2024-03-10T06:34:18.775,fb95739f-dc68-42fc-8ef6-542e02416d72,3,4600,1,None,None,0,COMBO SMASH + FRITAS,NETÃO,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,TRAPIST - 09/03/2024,2024-03-09T12:13:28.048,None,PISTA BURGUER+FRITAS 1,Normal,[],False,cashless
16927,1021e611031e,2024-03-10T05:59:23.248,c5d9f306-d01d-4c45-9d52-0c30715ce927,Y,800,1,None,None,0,Água,NÃO ALCOOLICOS,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,TRAPIST - 09/03/2024,2024-03-09T12:13:28.048,None,BACKSTAGE BAR 6 33,Normal,[],False,cashless
16928,fed990b60320,2024-03-10T06:34:01.570,c5d9f306-d01d-4c45-9d52-0c30715ce927,Y,800,2,None,None,0,Água,NÃO ALCOOLICOS,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,TRAPIST - 09/03/2024,2024-03-09T12:13:28.048,None,BACKSTAGE BAR 6 29,Normal,[],False,cashless

In [156]:
produtos=pd.DataFrame(response_produtos.json())
produtos= produtos[["transactionDate","unitValue","count","productName","productCategory","eventName","employeeName"]]
produtos=produtos.rename(columns={"transactionDate":"Data e Hora","unitValue":"Soma de price","count":"Quantidade","productName":"product_name","eventName":"Evento","employeeName":"PDV"})

#Criando coluna para avaliar as vendas durante o evento
produtos["Data e Hora"]=pd.to_datetime(produtos["Data e Hora"])
produtos["Dia + Hora"]=produtos["Data e Hora"].dt.strftime('%Y-%m-%d %H')

#Formatando a coluna de Soma de price
produtos["Soma de price"]=produtos["Soma de price"]/100

produtos

,Data e Hora,Soma de price,Quantidade,product_name,productCategory,Evento,PDV,Dia + Hora
0,2024-03-09 17:44:43.169,5.0,1,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,TRAPIST - 09/03/2024,PRODUÇÃO CLIENTE,2024-03-09 17
1,2024-03-09 17:43:20.032,5.0,1,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,TRAPIST - 09/03/2024,PRODUÇÃO CLIENTE,2024-03-09 17
2,2024-03-09 17:49:40.334,5.0,1,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,TRAPIST - 09/03/2024,PRODUÇÃO CLIENTE,2024-03-09 17
3,2024-03-09 19:06:33.846,5.0,1,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,TRAPIST - 09/03/2024,CAIXA 2,2024-03-09 19
4,2024-03-09 19:06:53.727,5.0,1,DEPOSITO CAUÇÃO,DEPOSITO CAUÇÃO,TRAPIST - 09/03/2024,CAIXA 14,2024-03-09 19
...,...,...,...,...,...,...,...,...
16924,2024-03-10 06:18:37.336,8.0,1,Água,NÃO ALCOOLICOS,TRAPIST - 09/03/2024,BACKSTAGE BAR 6 33,2024-03-10 06
16925,2024-03-10 06:34:18.775,36.0,1,FININHO BACON,NETÃO,TRAPIST - 09/03/2024,PISTA BURGUER+FRITAS 1,2024-03-10 06
16926,2024-03-10 06:34:18.775,46.0,1,COMBO SMASH + FRITAS,NETÃO,TRAPIST - 09/03/2024,PISTA BURGUER+FRITAS 1,2024-03-10 06
16927,2024-03-10 05:59:23.248,8.0,1,Água,NÃO ALCOOLICOS,TRAPIST - 09/03/2024,BACKSTAGE BAR 6 33,2024-03-10 05
16928,2024-03-10 06:34:01.570,8.0,2,Água,NÃO ALCOOLICOS,TRAPIST - 09/03/2024,BACKSTAGE BAR 6 29,2024-03-10 06

In [157]:
produtos["productCategory"].unique()

array(['DEPOSITO CAUÇÃO', 'NÃO ALCOOLICOS', 'DRINKS', 'COPO', 'GARRAFA',
       'DRINK PRONTO', 'NETÃO', 'CERVEJA', 'LA DIVINA REDONDA', 'DOSE',
       'ESPETO NETÃO', 'THE DOGUERIA', 'LOJA'], dtype=object)

Nomes dos produtos me parecem OK

## Faturamento

In [158]:
start_date = '2024-03-09'
end_date = '2024-03-09'


api_url = "https://api.zigcore.com.br/integration/erp/faturamento"
token = "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh"

params = {
    'dtinicio': start_date,
    'dtfim': end_date,
    'loja': '3123a77b-2730-4b44-ab69-24bba879c56b'
}


headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}


response_faturamento = requests.get(api_url, headers=headers, params=params)
""" if response.status_code == 200:
    print(f"Data for {params['dtinicio']} to {params['dtfim']}:", response.json())
else:
    print(f"Failed for {params['dtinicio']} to {params['dtfim']}:", response.status_code, response.text) """
faturamento=pd.DataFrame(response_faturamento.json())
faturamento

,paymentId,paymentName,value,redeId,lojaId,eventId,eventDate
0,1,CRÉDITO,17255360,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
1,3,DINHEIRO,2239800,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
2,24,APP,3300,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
3,25,DELIVERY ONLINE,0,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
4,27,IFOOD,0,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
5,26,PIX,4496211,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
6,28,RAPPI,0,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
7,29,UBER,0,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
8,5,ANTECIPADO,0,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
9,4,VOUCHER,0,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
10,2,DÉBITO,20142082,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
11,6,BÔNUS,3690900,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
12,5,ANTECIPADO,0,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
13,99,OUTROS,0,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
14,30,AME,0,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
15,6,NOTAS MANUAIS + SERVIÇO,0,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
16,7,RECARGAS DEVOLVIDAS,-3500,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
17,33,VOUCHER INTEGRADO,0,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z
18,34,MBWAY,0,152f5dc6-0f40-4668-880b-b8a8d51c4120,3123a77b-2730-4b44-ab69-24bba879c56b,0a39f4b8-5e13-400e-aeb9-44142e098c67,2024-03-09T12:13:28.048Z

In [159]:
faturamento=pd.DataFrame(response_faturamento.json())
faturamento=faturamento[["paymentName","value"]]


#Corrigindo os valores
faturamento["value"]=faturamento["value"]/100


faturamento

                paymentName      value
0                   CRÉDITO  172553.60
1                  DINHEIRO   22398.00
2                       APP      33.00
3           DELIVERY ONLINE       0.00
4                     IFOOD       0.00
5                       PIX   44962.11
6                     RAPPI       0.00
7                      UBER       0.00
8                ANTECIPADO       0.00
9                   VOUCHER       0.00
10                   DÉBITO  201420.82
11                    BÔNUS   36909.00
12               ANTECIPADO       0.00
13                   OUTROS       0.00
14                      AME       0.00
15  NOTAS MANUAIS + SERVIÇO       0.00
16      RECARGAS DEVOLVIDAS     -35.00
17        VOUCHER INTEGRADO       0.00
18                    MBWAY       0.00

## Recargas

In [165]:
start_date = '2024-03-03'
end_date = '2024-03-11'


api_url = "https://api.zigcore.com.br/integration/erp/recharges"
token = "hlqFYMUrmLX9NGTd07jC5ZjxLRKsOfqh"

params = {
    'dtinicio': start_date,
    'dtfim': end_date,
    'loja': '3123a77b-2730-4b44-ab69-24bba879c56b'
}


headers = {
    "Authorization": f"{token}",
    "Content-Type": "application/json"
}


response_recarga = requests.get(api_url, headers=headers, params=params)
""" if response.status_code == 200:
    print(f"Data for {params['dtinicio']} to {params['dtfim']}:", response.json())
else:
    print(f"Failed for {params['dtinicio']} to {params['dtfim']}:", response.status_code, response.text) """
recarga=pd.DataFrame(response_recarga.json())
recarga

,date,author,authorId,totalValue,userDocument,userDocumentType,userPhone,userName,userEmail,isForeign
0,2024-03-09T18:14:57.734,CAIXA 38,2f45b85f-7824-4d96-aaff-1022e632061c,1300,50374464812,cpf,,matheus,None,False
1,2024-03-09T18:15:30.730,CAIXA 37,d018d637-b3be-49b3-83eb-ee5d817cea8d,5000,43772406840,cpf,,danilo,None,False
2,2024-03-09T18:15:51.451,CAIXA 8,37cb7558-bfb9-4271-a2d4-902e94f2e3d6,5500,48046697877,cpf,,Caio,None,False
3,2024-03-09T18:47:26.022,CAIXA 19,100c72e6-fc62-4811-8f31-5f56136b8565,20000,55770139846,cpf,,olyver,None,False
4,2024-03-09T18:59:09.811,CAIXA 51,852947e6-8b60-41fa-9ac6-97cf85bf09e8,2100,51567473881,cpf,,Nathan,None,False
...,...,...,...,...,...,...,...,...,...,...
8605,2024-03-10T04:09:41.167,CAIXA 25,5a137348-5458-4a81-842c-e96ed6522110,1000,36308616877,cpf,,vitor,None,False
8606,2024-03-10T04:31:49.353,CAIXA 6,5a87cd85-e3fe-47b7-9e0d-fa925aef9ae5,3000,40867258861,cpf,+5511974666758,Juan,None,False
8607,2024-03-10T04:33:47.524,CAIXA 50,3b041527-1773-4c94-b51e-f68d44b45491,500,48514999818,cpf,+5519981819429,Isabella El Dorr da Silva,isabellaeldorr@gmail.com,False
8608,2024-03-10T04:52:33.385,CAIXA 38,2f45b85f-7824-4d96-aaff-1022e632061c,10000,39756532807,cpf,+5519997137300,Guilherme secco,None,False
8609,2024-03-10T05:02:12.523,CAIXA 24,1150363e-a6ba-4d9b-943d-97d2339017eb,1000,47891247897,cpf,+5519998454067,Murilo Rinaldo,murilo_rinaldo@hotmail.com,False

In [180]:
recarga=pd.DataFrame(response_recarga.json())
recarga=recarga[["date","author","totalValue","userDocument","userDocumentType","userName",]]

#Corrigindo os valores
recarga["totalValue"]= recarga["totalValue"]/100

#Valores das datas
recarga["date"]=pd.to_datetime(recarga["date"])
recarga["Dia + Hora"]=recarga["date"].dt.strftime('%Y-%m-%d %H')

recarga

,date,author,totalValue,userDocument,userDocumentType,userName,Dia + Hora
0,2024-03-09 18:14:57.734,CAIXA 38,13.0,50374464812,cpf,matheus,2024-03-09 18
1,2024-03-09 18:15:30.730,CAIXA 37,50.0,43772406840,cpf,danilo,2024-03-09 18
2,2024-03-09 18:15:51.451,CAIXA 8,55.0,48046697877,cpf,Caio,2024-03-09 18
3,2024-03-09 18:47:26.022,CAIXA 19,200.0,55770139846,cpf,olyver,2024-03-09 18
4,2024-03-09 18:59:09.811,CAIXA 51,21.0,51567473881,cpf,Nathan,2024-03-09 18
...,...,...,...,...,...,...,...
8605,2024-03-10 04:09:41.167,CAIXA 25,10.0,36308616877,cpf,vitor,2024-03-10 04
8606,2024-03-10 04:31:49.353,CAIXA 6,30.0,40867258861,cpf,Juan,2024-03-10 04
8607,2024-03-10 04:33:47.524,CAIXA 50,5.0,48514999818,cpf,Isabella El Dorr da Silva,2024-03-10 04
8608,2024-03-10 04:52:33.385,CAIXA 38,100.0,39756532807,cpf,Guilherme secco,2024-03-10 04
8609,2024-03-10 05:02:12.523,CAIXA 24,10.0,47891247897,cpf,Murilo Rinaldo,2024-03-10 05